<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<!-- ${logger} -->
		<target name="file" xsi:type="File"
			layout="${longdate} [${level}][${threadid}][${threadname}] ${message}"
			fileName="${basedir}/logs/${date:format=yyyy-MM}/${shortdate}.log"
			keepFileOpen="false"
			encoding="utf-8" />
	</targets>

	<target name="Info" xsi:type="File"
			fileName="${basedir}/log/${shortdate}.log"
			layout="${longdate} [${level}]： ${message}"
			encoding="utf-8"/>
	<rules>
		<logger name="*" minlevel="Debug" writeTo="file" />
	</rules>
</nlog>